@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 100%;
    width: 1550px;
    padding: 0 112px;
}
.navbar{
    padding: 30px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
header ul{
    display: flex;
    gap: 30px;
}
header ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #101010;
    transition: 0.2s ease-in-out;
}
header ul li a:hover{
    color: #1AAB7B;
}
header ul li a:active{
    color: #1AAB7B;
    opacity: 0.6;
}
header button{
    width: 156px;
    height: 41px;
    background-color: #101010;
    color: white;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    border: none;
}
header button:hover{
    background-color: white;
    color: #1AAB7B;
    border: 1px solid #1AAB7B;
}

header button:active{
    background-color: #101010;
    color: #FFFFFF;
    opacity: 0.6;
    border: none;
}
.head{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 209px;
}
.head button{
    background-color: #1AAB7B;
    width: 168px;
    height: 59px;
    font-size: 16px;
    font-weight: 700;
}
.head button:active{
    background-color: rgba(26, 171, 123, 0.7);
}
.headtext h1{
    font-size: 56px;
    font-weight: 700;
    width: 550px;
}
.head button{
    margin-top: 40px;
    transition: 0.2s ease-in-out;
}

main h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 32px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.card{
    border: 2px solid #E1E7ED;
    width: 32%;
    height: 358px;
    padding: 40px 30px;
    color: black;
    transition: 0.2s ease-in-out;
}
.card h3{
    font-size: 32px;
}
.card p{
    font-size: 18px;
    margin: 20px 0 23px;
}
.card h5{
    font-size: 20px;
}
.card:hover{
    background-color: #1AAB7B;
    color: #FFFFFF;
}
.form h1{
    width: 411px;
    text-align: center;
    margin: 132px auto 157px;
}
.forma{
    background-image: url("image 1 (4).png");
    background-repeat: no-repeat;
    width: 1216px;
    height: 515px;
    margin: 0 auto 50px;
    padding: 45px 0;
}
.inp{
    background-color: #000000BA;
    width: 565px;
    height: 434px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    row-gap: 51px;
    padding: 37px 72.03px;
}
input{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    border: none;
    border-bottom: 3px solid rgba(255, 253, 253, 0.2);
    width: 463.24px;
    height: 46px;
    color: #FFFFFF;
}
input::placeholder{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
.inp button{
    background-color: #1AAB7B;
    color: #FFFFFF;
    width: 217px;
    height: 59px;
    border: 1px solid #1AAB7B;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}
.inp button:hover{
    background-color: white;
    color: #1AAB7B;
    border: 1px solid #1AAB7B;
}
.inp button:active{
    background-color: rgba(26, 171, 123, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border: rgba(26, 171, 123, 0.7);
}
footer{
    background-color: rgba(16, 16, 16, 1);
    height: 220px;
    padding: 96px 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    gap: 40px;
}